target/

**/dist/

**/__pycache__/

*.pyc

.packages/

.venv/

.pytest_cache/

packages/sdkwork-utils-kotlin/.gradle/

packages/sdkwork-utils-kotlin/build/

packages/sdkwork-utils-java/target/

packages/sdkwork-utils-csharp/**/bin/

packages/sdkwork-utils-csharp/**/obj/

packages/sdkwork-utils-php/vendor/

node_modules/

